@font-face {
    font-family: 'FontAwesome';
    src: url(font/FontAwesome.otf);
}

@font-face {
    font-family: 'fontawesome-webfont';
    src: url(font/fontawesome-webfont.ttf);
}

@font-face {
    font-family: 'opensans-regular-webfont';
    src: url(font/opensans-regular-webfont.ttf);
}
:root{
    --c-brand: #ffff;
    --c-brand-dark: #868686;
    --cb-brand-light: #ff8989;
    --cb-brand-orange: #ec4c4c;
    --c-body: rgb(243, 243, 243);
    --font-base: "fontawesome-webfont";
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    width: 100%;
    color: var(--c-brand);
    background-image: url(/images/fondo-bienvenido-grande.jpg);
    background-position: center;
    background-size: cover;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    color: var(--c-brand);
    background-color: var(--cb-brand-orange)
}

a{
    text-decoration: none;
}
.cajas{
    display: flex;
    flex-wrap: wrap;
}
.caja{
    
}
.contacto {
    background-color: var(--cb-brand-orange);
    border-color: var(--cb-brand-orange);
    color: var(--c-brand);
    text-transform: uppercase;
    padding: 12px 28px;
}

.contacto:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: black;
}
.brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: black;
    text-transform: uppercase;
    padding: 12px 28px;
}

.brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: black;
}